.body{
background-color: black;
text-align: center;
color: aliceblue;
}
.show{
    background-color: navy;

}
.row{
margin: top 100px;
min-height: 100px;
justify-content: space-between;

}

.container{
    background-color: navy;
    color: aliceblue;
}

.jumbotron {
    display:flex;
	flex:4;
	min-height:600px;
	background-color: navy;
	font-size: x-large;
	align-items: center;
	display: block;
	align-content: center;
	text-align: center;
}
.info,.profile {
    color: aliceblue;
	display:flex;
	flex:4;
	min-height:600px;
	background-color: navy;
	font-size: x-large;
	align-items: center;
	display: block;
	align-content: center;
	text-align: center;}
